C3a/.venv/
C4a/venv/
C4b/venv/

#E1
E1/E11/venv/
E1/E12/venv/

#
E2/venv/

#E3
E3/venv/
E3/he_hdt.txt
E3/he_ldt.txt
E3/le_hdt.txt
E3/le_ldt.txt

#H1
H1/venv/
H1/energy_time_0.0005.txt
H1/Equilibrate_Liquid_dt0.0005.txt
H1/Equilibrate_Solid_dt0.0005.txt
H1/gofr.txt
H1/Positions_Liquid_dt0.0005.txt
H1/Positions_Solid_dt0.0005.txt

#H2
H2/venv/
H2/results_mean_field.csv

H2task1/problem-description/
H2task1/results_mean_field.csv

H2task2/problem-description

H2task2_2/simulation_results.csv